@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(44, 44, 44);
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.app {
  max-width: 350px;
  width: 90%;
  height: 80vh;
  text-align: center;
  background-color: rgb(161, 177, 248);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 10px;
}

.todo__item {
  list-style: none;
}
